<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Journal</title> </head>

<body>
<h2>August 20, 2005</h2>
<img src="a3.JPG" >
<p>
    Well I've madw it <q>1200 miles</q> already, and I passed
    through s9ome <blockquote>fhkgfgkjfl</blockquote> places on the way:
</p>
<ul>
<li>Walla Walla, WA</li>
<li>Magic City, ID</li>
    <li><em>Bountiful, UT</em></li>
    <li><strong>Last Chance, CO</strong></li>
<li>Why, AZ</li>
<li>Truth or Consequences, NM</li>
</ul>

<h2>July 14, 2005</h2>

<p style="color:red">
    I saw some Burma Shave style signs on the side of
    the road today:
</p>

</body>
</html>